.container{
    background-color: lightslategray;
    color: darkblue;

}
.heading{
    background-color: lightcoral;
    color: black;

}
.info{
    background-color: lightskyblue;
    color: darkolivegreen;

}