.container{
    background-color: aqua;
    color: blue;
}
.heading{
    background-color: bisque;
    color: brown;
}
.headings{
    background-color: darksalmon;
    color: darkslategrey;
}
.products{
    background-color: pink;
    color : darkblue;
}