.container{
    background-color: pink;
    color: maroon;
}
.heading{
    background-color:mediumorchid
    color midnightblue;
}
.headings{
    background-color: lightskyblue;
    color: darkmagenta;
}
.info{
    background-color:antiquewhite;
    color: darkgreen;
}
.style{
    background-color:aqua;
    color: navy;
}
.styling{
    background-color: lightsalmon;
    color: mediumblue;
}