
.container{
  background-color: bisque;
  color: brown;

}
.heading{
  background-color: lightgoldenrodyellow;
  color: darkmagenta;

}
.info{
  background-color: lightskyblue;
  color: darkgreen;

}